.App {
  text-align: center;
}

.form-container {
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .form-group {
    display: flex;
    margin: 1em;
    &.input {
      display: flex;
      gap: 1em;
    }
    &.bottom {
      margin-top: 0.5em;
      flex: 0 0 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.results-container {
  display: flex;
  flex-wrap: wrap;

  li {
    flex: 0 0 calc(100% / 5);
  }
}
